/* Estilos específicos para el dashboard del Gerente */
.gerente-dashboard {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

/* Estilos específicos para el gráfico de ventas */
#monthly-sales-chart {
    max-width: 100%;
    height: auto;
    min-height: 250px; /* Asegura espacio mínimo */
    margin-top: 15px;
}